image: phasecorex/user-alpine:__tag__
manifests:
  -
    image: phasecorex/user-alpine:__tag__-amd64
    platform:
      architecture: amd64
      os: linux
  -
    image: phasecorex/user-alpine:__tag__-arm32v6
    platform:
      architecture: arm
      os: linux
      variant: v6
  -
    image: phasecorex/user-alpine:__tag__-arm64v8
    platform:
      architecture: arm64
      os: linux
      variant: v8
